<nav>
    <div id="logo"><a href="{{ path('app') }}"><img class="logo" src="{{ asset('logo.png') }}" alt="logo"></a></div>

    <label for="drop" class="toggle">Menu +</label>
    <input type="checkbox" id="drop" />
    <ul class="menu">
        <li><a href="{{ path('doc') }}">Doc</a></li>
        <li><a href="{{ path('contact') }}">Contact</a></li>
        <li>
            <!-- First Tier Drop Down -->
            <label for="drop-2" class="toggle">Connection +</label>
            <a href="{{ path('login') }}">Connection</a>
            <input type="checkbox" id="drop-2"/>
            <ul>
                <li><a href="{{ path('login') }}">Connection</a></li>
                <li><a href="{{ path('register') }}">Inscription</a></li>
            </ul>
        </li>
    </ul>
</nav>
