{% extends 'base.html.twig' %}

{% block title %}Images index{% endblock %}

{% block body %}
<section class="container">
    <h1 class="">Images index</h1>
    <button class="btn"><a href="{{ path('app_images_new') }}">Create new</a></button>

    <table class="table">

        <thead>
            <tr>
                <th>Id</th>
                <th>ImageName</th>
                <th>ImageSize</th>
                <th>ImageUpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.imageName }}</td>
                <td>{{ image.imageSize }}</td>
                <td>{{ image.imageUpdatedAt ? image.imageUpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <button class="btn success"><a href="{{ path('app_images_show', {'id': image.id}) }}">show</a></button>
                    <button class="btn warning"><a href="{{ path('app_images_edit', {'id': image.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</section>
{% endblock %}
