{% extends 'base.html.twig' %}

{% block title %}Images index{% endblock %}

{% block body %}
<section class="container admin">
    <div class="container light">
        <h1 class="">Images index</h1>
    </div>
    <button class="btn"><a href="{{ path('app_images_new') }}">Create new</a></button>

    <table class="container">

        <thead>
            <tr>
                <th>Id</th>
                <th>ImageName</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.imageName | slice(0,10) ~ "..."}}</td>
                <td><img class="logo" src="{{vich_uploader_asset(image, 'imageFile')}}"/></td>
                <td>
                    <button class="btn success"><a href="{{ path('app_images_show', {'id': image.id}) }}">show</a></button>
                    <button class="btn primary"><a href="{{ path('app_images_edit', {'id': image.id}) }}">edit</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</section>
{% endblock %}
